@import url("https://js.arcgis.com/next/esri/themes/light/main.css");

.esri-view .esri-view-surface--inset-outline:focus::after {
  outline: none !important;
}

.esri-ui-corner {
  flex-direction: column;
}

.esri-ui-bottom-right .esri-component {
  margin-top: 10px;
}
