@import url("https://js.arcgis.com/next/esri/themes/light/main.css");

.esri-view .esri-view-surface:focus::after {
  outline: none !important;
}

.esri-ui-corner {
  flex-direction: column;
}

.esri-ui-bottom-right .esri-component {
  margin-top: 10px;
}

.esri-view-width-xsmall .esri-expand--auto .esri-expand__container--expanded {
  position: sticky;
}

.esri-ui-manual-container > .esri-component {
  display: none;
}
